* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
@font-face {
    font-family: "Pacifico";
    src: url(../font/pacifico.ttf);
}

.container {
    width: 1140px; /*maksimalnaya wirina na min monikah*/
    margin: 0 auto; /*stavim po centru bloki*/
}

.container__fresh {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
}

.card__logo {
    flex-grow: 2;
    text-decoration: none;
    cursor: pointer;
    font-family: "Pacifico", sans-serif;
    font-size: 40px;
    color: black;
}

.card__navigator {
    flex-grow: 1;
}

.navigator {
    text-transform: uppercase;
    display: flex;
    min-width: 550px;
}

.navigator__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0 170px 0 0;
    padding: 0;
    flex-grow: 1;
}

.navigator__list-elem {
    cursor: pointer;
}

.navigator__list-elem:hover {
    border-bottom: 2px solid white;
}

.navigator__list-elem_active:active {
    border-bottom: 2px solid white;
}

.navigator__button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
